<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boggle!</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <table id="stats-table">
        <tr id="stats-titles">
            <th>SCORE</th>
            <th>HIGH SCORE</th>
            <th>GAMES PLAYED</th>
        </tr>
        <tr id="stats-data">
            <tr>0</tr>
            <tr>{{ high }}</tr>
            <tr>{{ plays }}</tr>
        </tr>
    </table>
    
</body>
</html>